<!doctype html>
<html>
<body>
  <h1>Landing page</h1>
  <form onsubmit="enter(event)">
    <input type="text" id="name" placeholder="Enter your name" />
    <button type="submit" id="enterSite">Enter site</button>
  </form>
  <script>
    const nameInput = document.getElementById('name');
    const submitButton = document.getElementById('enterSite');
    
    nameInput.addEventListener('input', () => {
      if (nameInput.value.length > 0) {
        submitButton.disabled = false;
      } else {
        submitButton.disabled = true;
      }
    });

    function enter(e) {
      e.preventDefault();
      location.href = `/welcome/${nameInput.value}`;
    }
    
    window.onload = (() => {
      if (nameInput.value.length > 0) {
        submitButton.disabled = false;
      } else {
        submitButton.disabled = true;
      }
    });
    
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', () => {
        console.log('SocketIO connection established');
        socket.emit('message', 'hello there');

        socket.on('disconnect', () => {
            console.log('SocketIO disconnected');
            socket.disconnect();
        });
    });

</script>
</body>
</html>
